.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.menuBurger{
  width: 1px !important;
  position: fixed;
  top: 1vmax;
  left: 2vmax;
}