.searchBox{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    position: fixed;
    top: 0;
    left: 0;
}

.searchBox input[type="text"]{
    box-shadow: 0 0 5px rgba(0,0,0,0.274);
    background-color: #ffffff;
    border: none;
    color: rgba(0,0,0,0.637);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0%;
    font: 300 1.3vmax 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    height: 8%;
}


.searchBox input[type="submit"]{
    height: 8%;
    border-radius: 0;
    background-color: tomato;
    border: none;
    padding: 1vmax;
    width: 10%;
    font: 300 1.3vmax 'Roboto Condensed', sans-serif;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.searchBox input[type="submit"]:hover{
    background-color: rgb(55,97,214);
}

@media screen and (max-width: 600px) {
    .searchBox input[type="submit"]{
        width: 20%;
        font-size: 15px;
    }
    .searchBox input[type="text"]{
        font-size: 15px;
    }
}